<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="get-involved.component.css">
    <title>get-involved</title>
</head>
<body>
    <div class="coming-soon-container">
        <h1 class="coming-soon-title">Coming Soon, Stay Tuned!</h1>

        <!-- Countdown Timer -->
        <div class="countdown">
            <div><span id="days">0</span> Days</div>
            <div><span id="hours">0</span> Hours</div>
            <div><span id="minutes">0</span> Minutes</div>
            <div><span id="seconds">0</span> Seconds</div>
        </div>

        <!-- Animation Dots -->
        <div class="animation">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
        </div>

        <!-- Social Media Icons -->
    
        <div class="footer-end-column social-media-icons">
            <a href="https://www.google.com/maps?q=GOBI+Scholars,+17042+Ulaanbaatar,+Mongolia&hl=en&fbclid=IwY2xjawF_76ZleHRuA2FlbQIxMAABHW9Xkoyae8wjHZ2xZF2U7EYXYQC5kG9PjHspgAEqVgtqGwgqp9c4E4Cf7w_aem_-pMiw8F2Z-WEXKcKjsJx-g" target="_blank">
              <img src="../assets/icons/location.png" alt="Location">
           </a>
            <a href="https://www.facebook.com/profile.php?id=61558703803366" target="_blank">
                <img src="../assets/icons/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.linkedin.com/company/gobi-scholars/posts/?feedView=all" target="_blank">
                <img src="../assets/icons/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.youtube.com/@gobi.scholars" target="_blank">
                <img src="../assets/icons/youtube.png" alt="YouTube">
            </a>
            <a href="https://www.instagram.com/gobi.scholars?fbclid=IwY2xjawF_8AhleHRuA2FlbQIxMAABHdVnwmtmj2u5oFHZbDljrm7a3j4zUIEfQWr-WcibtDxlkILDAIKSwM8Ezg_aem_BjGGUpvNYhByXbx4p-dPyw" target="_blank">
                <img src="../assets/icons/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>

    <script src="countdown.js"></script>
</body>
</html>

