* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
/*Keep background photo for all the page :)*/
body {
    background-image: url('/appFrontend/src/app/assets/programs_assets/summer_internship01.jpg'); 
    background-repeat: no-repeat;
    background-position: top center; 
    background-attachment: fixed;
    background-size: 100% auto;
    margin: 0; 
    padding: 0;
    height: 100%;
}



/*HEADER PART with MENU AND LOGO*/
/*Shadow at the top*/
.gradient-shadow {
    position: absolute; 
    top: 0; 
    left: 0;
    right: 0; 
    height: 4rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    z-index: 0; 
}

.header-section {
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 1s ease-in-out; 
}

.header-container {

    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
    z-index: 1000;
    padding: 10px 50px;
}

.logo {
    margin-top: 8px;
    height: 22px;
    margin-left: 20px;
    cursor: pointer;
    position: relative;
}

.menu {
    display: flex;
    gap: 65px; 
    flex-grow: 1;
    justify-content: center;
    position: relative;
}


.menu-item {
    position: relative; /* Required for dropdown positioning */
}

.menu-item button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* No padding to look like plain text */
}

.menu-item button:hover {
    color: #6e6e6e; /* Lighten text on hover */
}

.menu-item a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
}

.menu-item a:hover {
    color: #6e6e6e; /* Lighten text on hover */
}

/*
.dropdown {
    position: relative;
    
}

.dropdown-content {
    font-family: 'Montserrat', sans-serif;
    display: none; 
    position: absolute; 
    min-width: 180px; 
    z-index: 1; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.90));
    border-radius: 10px;
    margin-left: -15px;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown-content a {
    font-family: 'Montserrat', sans-serif;
    color: white; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

.dropdown-content a:hover {
    color: #f0f0f0;
    font-weight: bold; 
}


.search-button {
    margin-left: auto;
    margin-right: 50px;
}

.search-button i {
    font-size: 16px; 
    color: white; 
    transition: color 0.3s ease;
}

.search-button i:hover {
    color: #f0f0f0; /* Lighten the color on hover */



/* Centered content */
.center-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    z-index: 2;
    width: 100%;
    
}

.center-content p1 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 55px;
    line-height: 15px;
    margin: 0 20px;
}


.center-content p2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 30px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 50%;
    line-height: 1.5rem;
}


.center-content button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background-color: rgb(211, 34, 34); /* Primary red color */
    border: none;
    padding: 15px 24px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-top: 35px;
}

/* Button Hover Effect */
.center-content button:hover {
    background-color: #a31414; /* Darker red for hover effect */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* Subtle lift on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .center-content p1 {
        font-size: 30px; /* Smaller font size for smaller screens */
    }

    .center-content p2 {
        font-size: 16px;
    }

    .center-content button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

/*SECTION 2: MISSION STATEMENT */
.second-part {
    height: 100vh;
    margin-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.0001));
    opacity: 1;
    z-index: 1000;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out; /* Transition to fade in */
    backdrop-filter: blur(1.5px);
}

.second-part-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Ensure text inside is centered */
}

.vertical-line {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 0;
    width: 1px; 
    height: 60px;
    background-color: white; 
    transform: translateX(-50%); 
}

.second-part-content h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.second-part-content p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.3;
    max-width: 75%;
    margin-left: auto;  /* Center the paragraph horizontally */
    margin-right: auto; /* Center the paragraph horizontally */
}

  
/*SECTION 03: GOBI SCHOLARS, WHAT WE DO IN TWO SENTENCES*/
.second-section {
    height: 70vh; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
}

.section-header {
    font-size: 45px;
    font-family: 'STIXGeneral', serif;
    margin-left: 50px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.section-paragraph {
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: justify;
    margin-top: 30px; 
    max-width: 80%;
    line-height: 1.3;
}

.second-section button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #454545;
    background-color: rgb(255, 255, 255); 
    border: none;
    padding-left: 50px;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: none;
    text-decoration: underline;
    text-align: left;
    margin-top: 35px;

}

/*SECTION 04: OUR STUDENTS*/
.our-students-section {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.our-students-header {
    padding-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: white;
    padding-left: 60px;
}

.our-students-section p {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    text-align: justify;
    padding-left: 60px;
    max-width: 90%;
    line-height: 1.3;
}

.our-students-section p span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-style: italic;
}

.slideshow-container {
    margin-top: 50px;
    display: flex; 
    overflow: hidden; 
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow-inner {
    display: flex; 
    width: max-content;
    transition: transform 0.5s ease; 
}

.slide {
    flex: 0 0 auto;
    width: 160px;
    height: 100%; 
    margin-right: 30px;
}

/* gradient effect */
.slideshow-container::before,
.slideshow-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px; /* Width of the gradient */
    pointer-events: none; /* Prevent blocking user interaction */
    z-index: 1;
}

.slideshow-container::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
}

.slideshow-container::after {
    right: 0;
    background: linear-gradient(to left, black, transparent);
}

.studentpictures {
    width: 100%;
    height: 160px; 
    border-radius: 5px;
    object-fit: cover; 
}

.student-description {
    padding: 5px; 
    text-align: center;
}

.student-name {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.student-cohort {
    color: rgb(212, 42, 42);
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.student-info {
    color: gray;
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif; /* Normal font */
}

.short-info {
    display: inline; /* Ensure inline placement */
    white-space: wrap; /* Prevent line breaking */
}

.student-info .full-info.hidden {
    display: none;
}

.student-description .learn-more-btn {
    color:grey;
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: none;
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}

.student-description .learn-more-btn:hover {
    color:white;
}


/*STUDENTS MODAL POP UP WINDOWSS*/
.student-modal {
    display: none; /* Default: Hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000; /* Ensure it appears above all other elements */
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    max-width: 70%;
    max-height: 90%;
    overflow-y: auto; /* Add scroll for overflowing content */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 40px 20px;
    border-radius: 25px;
}

/* Close Button */
.modal-content .close {
    position: absolute;
    top: 60px;
    right: 40px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

body.modal-open {
    overflow: hidden; /* Disable scrolling when modal is open */
}

body.modal-open .our-students-section {
    filter: blur(3px); /* Add blur effect to the main page */
}


/* Modal Header */
.modal-header h1 {
    font-size: 55px;
    font-family: 'Times New Roman', serif;
    color: black;
    font-weight: bold; 
    margin-left: 30px;
    margin-bottom: 10px;
}

.modal-header .student-title {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(184, 28, 28);
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Main Info Section */
.modal-main-info {
    display: flex;
    gap: 20px; /* Space between the description and the image */
    align-items: flex-start;
    justify-content: space-between;
}


/* Student Description (Left Part) */
.student-description-home {
    flex: 6; /* 60% width */
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif, !important;
    color: black;
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
    padding: 0px 30px;
}

/* Student Image (Right Part) */
.student-image {
    flex: 2; 
    margin-top: 0px;
}

.student-image img {
    width: 100%; /* Maintain width constraint */
    max-width: 180px;
    height: 280px; /* Preserve aspect ratio */
    border-radius: 30px;
    object-fit: cover;
}

/* Works Section */
.modal-works h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.works-container {
    display: flex;
    gap: 20px; /* Space between work items */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    margin-left: 35px;
}

.work-item {
    flex: 0 1 calc(33.333% - 20px); /* Each work takes up about 1/3rd of the container, minus the gap */
    background-color: #ffffff;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.work-item:hover {
    transform: translateY(-10px); /* Hover effect for work items */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}


.work-item img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
    
}

.work-details h3 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1em;
    
}

.work-details p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-top: 1em;
    margin-bottom: 0.5em;
 
}

.read-full {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #34333356;
    text-decoration: underline;
    cursor: pointer;
}

.read-full:hover {
    color: #9b1a1a;
}


.learn-more-button {
    background-color: #a41111; 
    border-radius: 5px;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    border: none;
    cursor: pointer; 
    width: 120px; 
    height: 50px; 
    margin-top: 30px; 
    margin-left: 60px;
    margin-bottom: 50px;
}



/*PART 05: Injii's Section*/
.mr-nash-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80vh;
    padding: 0 5%;
}

.mr-nash-left {
    flex: 1; /* Takes up 1/3 of the section */
    position: relative;
}

.injiinash-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

.mr-nash-right {
    flex: 2; /* Takes up 2/3 of the section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    position: relative;
}

.mr-nash-paragraph1 {
    color: rgb(173, 27, 27);
    font-size: 34px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
    top: 5%;
    left: -8%; /* Overlaps the image slightly */
    width: 100%; /* Ensures full line width for centering */
    text-align: left;
    z-index: 10;
    max-width: 80%;
}

.mr-nash-paragraph2 {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    margin-top: 280px;
    line-height: 1.2;
}

.mr-nash-paragraph3 {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    line-height: 1.2;
    margin-bottom: 15px;
}

/*PART 06: NEWS SECTION*/
.section-break {
    border: none; 
    border-top: 0.3px solid #afadad; 
    width: 100%; 
}

.news-section {
    background-color: white;
    height: 100vh;  
    padding: 50px 50px;
}

.news-header {
    color: black; 
    font-size: 45px; 
    font-family: 'Times New Roman', Times, serif;
}   

.recent-news {
    display: flex;
    justify-content: space-between; 
    gap: 20px;

}

.news-box {
    background: white; 
    padding: 0px; 
    width: calc(33.33% - 10px);  
    margin-right: 10px; 
    margin-top: 40px;
    transition: transform 0.3s; 
    cursor: pointer; 
}

.news-box:last-child {
    margin-right: 0;
}

.news-box img {
    width: 100%; 
    height: 60%; 
    object-fit: cover;
    border-radius: 20px;
}

.news-box h3 {
    margin: 5px 0;
    font-size: 20px;
    color: black;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.news-box p {
    margin: 5px 0;
    font-size: 18px;
    color: gray;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.news-box:hover {
    transform: scale(1.05); /* Enlarge the box on hover */
}

.news-read-more-btn {
    background-color: #a41111; 
    border-radius: 5px;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
    border: none;
    cursor: pointer; 
    width: 120px; 
    height: 50px; 
    margin-top: 30px; 
    margin-bottom: 50px;
}

/*SECTION 7: MAILING LIST */

.email-signup-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
    height: 80vh;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}


.email-button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 80px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
    border-radius: 50px;
    border-width: 1px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.email-button:hover {
    background-color: white;
    color: black;
}

.email-input {
    display: none;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    border: 2px solid white;
    border-radius: 5px;
    color: black;
    margin: auto;
}

.email-header {
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin-top: 40px; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.email-paragraph {
    font-size: 20px;
    color: white;
    font-weight: normal;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}


/* SECTION 8: PAGE END | SOCIAL ACCOUNTS */
.footer-end {
    margin-top: 0em;
    background-color: rgb(0, 0, 0);
    padding: 3em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: 10em;
}


.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.social-media-icons a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    transform: scale(1.3);
    color: #c10000;
    opacity: 1;
}


